@use "@/assets/styles/variables" as *;

.login-form {
  @extend .form-regular !optional;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 0 auto;

  fieldset {
    position: relative;

    legend {
      font-weight: 400;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
  }
}

.login-form__password {
  display: flex;
  justify-content: space-between;
}

.login-form__see-password {
  cursor: pointer;
  color: var(--light-color);
  background: var(--gradient-1);
  font-size: $text-small;
  border: 0;
}
