@use "@/assets/styles/variables.scss" as *;
.app-header {
  height: $header-height;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .app-logo {
    height: 40px;
    margin-right: 10px;
  }

  .app-header__title {
    font-size: $text-xlarge;
    font-weight: bold;

    @include respond-to("mobile") {
      font-size: $text-regular;
    }

    @include respond-to("desktop") {
      font-size: $text-xlarge;
    }

    span {
      color: var(--light-color);
      font-size: 10px;
    }
  }
}
