@use "@/assets/styles/variables" as *;

.comments {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 2px solid #e0e0e0;
}
.comments__author {
  font-size: $regular-text;
  margin-bottom: 1rem;
  color: #333;
  display: flex;
  align-items: center;
}
.comments__list {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9d0;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.comments__item {
  padding: 0.75rem;
  border-bottom: 1px solid #e0e0e0;
  color: $text-color;

  &:last-child {
    border-bottom: none;
  }
}
.comments__date {
  font-size: $small-text;
  color: #777;
  margin-left: 0.5rem;
}

.comments__form {
  margin-top: 2rem;

  .form-field {
    align-items: self-start;
  }

  textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
  }
}
