@use "./assets/styles/_variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  color-scheme: light dark;

  /* Variáveis para light mode */
  --bg-color: #{$light_color-bg};
  --text-color: #{$light_color-text};
  --main-color: #{$light_color-main};
  --alt-color1: #{$light_color-2};
  --alt-color2: #{$light_color-3};
  --light-color: #{$light_light-color};
  --dark-color-bg: #{$light_dark-color};
  --gradient-1: #{$light_btn-gradient1};
  --gradient-2: #{$light_btn-gradient2};
  --gradient-danger: #{$light_gradient-danger};
  --error-color: #{$dark_color-error};
  --success-color: #{$dark_color-success};

  /* Tamanhos de fonte responsivos */
  --text-smaller: 0.6rem;
  --text-small: 0.7rem;
  --text-regular: 0.8rem;
  --text-large: 1.6rem;
  --text-xlarge: 2rem;

  @include respond-to("desktop") {
    --text-smaller: 0.65rem;
    --text-small: 0.8rem;
    --text-regular: 1rem;
    --text-large: 1.8rem;
    --text-xlarge: 2.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{$dark_color-bg};
    --text-color: #{$dark_color-text};
    --main-color: #{$dark_color-main};
    --alt-color1: #{$dark_color-2};
    --alt-color2: #{$dark_color-3};
    --light-color: #{$dark_light-color};
    --dark-color-bg: #{$dark_dark-color};
    --gradient-1: #{$dark_btn-gradient1};
    --gradient-2: #{$dark_btn-gradient2};
    --gradient-danger: #{$dark_gradient-danger};
    --error-color: #{$light_color-error};
    --success-color: #{$light_color-success};
  }
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.calangar-font {
  font-family: "Ranchers", cursive;
}

.calango {
  height: 100px;
  font-size: 40px;
  background-image: url("/images/calangar.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: left 50%;
  padding-left: 40px;

  &::first-letter {
    font-size: 0;
  }
}
