@use "@/assets/styles/variables" as *;

%label-regular {
  font-size: $text-small;
  text-transform: uppercase;
  text-indent: 5px;
  font-weight: 700;
}

input,
select,
textarea,
.select-default {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: $text-regular;
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  width: 90%;

  &:focus {
    outline: none;
    border-color: gray;
    box-shadow: 0 0 0 2px rgba(gray, 0.2);
  }
}

.form-regular {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .form-icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    display: block;
  }

  label {
    @extend %label-regular;
  }
}

.fieldset-regular {
  border: 3px solid var(--alt-color2);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  legend {
    font-weight: 600;
    font-size: 1.2em;
    padding: 0 8px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: calc(100% - 2em);
  gap: 10px;

  &.form-inline {
    @include respond-to("desktop") {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      padding-left: 0;
    }
  }
}

.form-field-inline {
  @extend .form-field;
  @include respond-to("desktop") {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: calc(100% - 2em);

  label {
    @extend %label-regular;
  }
}

.input-field--pretty {
  @extend .input-field;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: 1px solid var(--main-color);
  border-left-width: 0.5em;
  padding-left: 1.5em;
  background-color: var(--dark-color-bg);
  border-radius: 4px;
  width: auto;

  label {
    @extend %label-regular;
    display: flex;
    gap: 10px 10px;
  }

  .form-icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translate(0, -50%);
    width: 8px;
    display: block;
  }
}

.label-text--small {
  font-size: var(--text-small);
  text-transform: none;
  font-weight: normal;
  font-style: italic;
}

.login-form {
  @extend .form-regular !optional;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 0 auto;

  fieldset {
    position: relative;

    legend {
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 0.5em;

      span {
        display: inline-block;
        &:after {
          content: " ";
          display: inline-block;
          margin-left: 5px;
          width: 24px;
          height: 24px;
          background: url("/images/calangar.png") no-repeat right center;
          background-size: contain;
        }
      }
    }
  }
}

.login-form__password {
  display: flex;
  justify-content: space-between;
}

.login-form__see-password {
  cursor: pointer;
  color: var(--light-color);
  background: var(--btn-gradient1);
  font-size: $text-small;
  border: 0;
}

.form-error {
  color: var(--error-color);
}

.form-success {
  color: var(--success-color);
}
