// MEASURES
$header-height: 80px;
$footer-height: 40px;
$main-height: calc(100vh - #{$header-height} - #{$footer-height});

// TEXT SIZE
$larger-text: 2.5em;
$large-text: 2em;
$regular-text: 1em;
$small-text: 0.7em;

$error: #ff4d4d;
$success: #374ed3;
$link-color: #646cff;
$text-color: #333333;
$client-color-dark: #84402d;
$client-color-light: #b6b99a;
$client-color-bg: #1f1f1f;
$client-color1: #475e4c;
$client-color2: #84402d;
$client-color3: #ab6532;
$client-color4: #b6b99a;

$btn-gradient: linear-gradient(
  135deg,
  rgba($client-color1, 0.9),
  rgba($client-color1, 0.6)
);

$btn-gradient2: linear-gradient(
  135deg,
  rgba($client-color2, 0.9),
  rgba($client-color2, 0.6)
);

@use "sass:map";

$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "desktop": 1024px,
  "wide": 1200px,
  "ultra": 1440px,
);

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in $breakpoints.";
  }
}
